body {
    background-color: hsl(47, 88%, 63%);

}

.card {

    font-size: 16px;
    display: flexbox;
    background-color: white;
    padding: 50px 0 20px;
    padding-left: 20px;
    padding-right: -20px;
    border: 5px solid #ccc;
    width: 384px;
    margin: 150px auto;
    border-radius: 30px;
    box-shadow: 10px 5px 5px black;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: white;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}


.uni {
    display: flex;
    margin-top: -30px;
    margin-left: -5px;
    margin-right: auto;
    width: 370px;
    border-radius: 30px;
}

.hoop {
    width: 30px;
}

.center {
    display: flex;
    align-items: center;
}

.img-text {
    padding: 10px;
}

.la {
    background-color: hsl(47, 88%, 63%);
    width: 5em;
    height: 3.5ex;
    border: 2px;
    border-radius: 10px;
}

.do {
    color: gray;
}

.me:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}


@media (max-width: 375px) {}