body {
    background-color: hsl(47, 88%, 63%);

}

.card {

    font-size: 16px;
    display: flexbox;
    background-color: white;
    padding: 70px 0;
    border: 1px solid #ccc;
    width: 384px;
    margin: 150px auto;
    border-radius: 30px;
    border-bottom-color: black;
    border-right-color: black;
}

.attribution {
    margin: auto;
    display: block;
}